* {
  font-family: 'MedievalSharp', cursive;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/background-map.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.charsheet {
  position: fixed;
  background-color: white;
  top: 0%;
  z-index: 1;
}

.title {
  font-size: 4rem;
  position: absolute;
  top: 2%;
  color: white;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.exit-button {
  background-image: url("./assets/exit-button.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 2%;
  right: 4%;
  height: 7%;
  width: 4%;
  transform: rotate(45deg);
  filter: invert(1);
  cursor: pointer;
  transition: transform 0.1s, filter 0.1s;
}

.exit-button:hover {
  transform: rotate(0deg);
  filter: invert(0.6);
}

.back-button {
  background-image: url("./assets/back-button.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 1%;
  left: 26%;
  height: 7%;
  width: 6%;
  filter: invert(1);
  cursor: pointer;
  transition: height 0.1s, width 0.1s, filter 0.1s;
}

.back-button:hover {
  height: 8%;
  width: 7%;
  filter: invert(0.6);
}

.button-style{
  height: 10%;
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  color: white;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  cursor: pointer;
  transition: font-size 0.1s;
}

.button-style:hover {
  color: rgb(171, 171, 171);
  font-size: 4.5rem;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.input {
  height: 9%;
  width: 86%;
  font-size: 2rem;
  text-align: center;
}

.input-container {
  position: relative;
  padding: 5%;
  height: 87%;
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

/********** Hub styling **********/

.banner {
  width: 44%;
  height: 17%;
  background-image: url("./assets/dd-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: -2%;
}

#character-creator,
#gameshop-finder,
#group-finder {
  position: absolute;
  top: 17%;
  right: 14%;
  height: 20vh;
  width: 20vh;
  background-image: url("./assets/button_forge.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  font-size: 3em;
  color: white;
  transition: width 0.1s, height 0.1s, font-size 0.1s;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#character-creator:hover,
#group-finder:hover:hover {
  height: 30vh;
  width: 30vh;
  font-size: 4em;
}

#gameshop-finder {
  top: 61%;
  height: 20vh;
  width: 25vh;
  background-image: url("./assets/button_house.png");
}

#gameshop-finder:hover {
  height: 32vh;
  width: 40vh;
  font-size: 4em;
}

#group-finder {
  top: 43%;
  left: 20%;
  background-image: url("./assets/button_tavern.png");
}

/********** GroupFinder styling **********/

#group-finder-modal {
  position: relative;
  width: 68%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-image: url("./assets/group-finder.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

#group-finder-modal-body {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.loading-modal {
  position: fixed;
  width: 40%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(./assets/sword-loading.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding: 2%;
  box-shadow: 0 0 10px 10px rgb(0, 0, 0, 0.5);
}

#meetup-group-container {
  padding: 6%;
  width: 76%;
  height: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("./assets/notice-board-bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.meetup-group {
  cursor: pointer;
  padding: 1%;
  margin: 0 2%;
  width: 20%;
  height: 33%;
  position: relative;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.meetup-group:hover {
  background-color: rgba(250,250,210,0.8);
  border-radius: 5px;
  box-shadow: 0 0 8px 8px rgba(250,250,210,0.8);
}

#meetup-group-info-container {
  position: absolute;
  width: 80%;
  height: 80%;
  padding: 2rem;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 8px 8px rgba(0,0,0,0.8);
  font-size: 1.5rem;
}

#meetup-group-name {
  font-size: 2rem;
  margin: 0;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/********** CharacterForge styling **********/

.blacksmith {
  position: relative;
  height: 80%;
  width: 80%;
  background-image: url("./assets/blacksmith.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -2;
}

.random-character-button,
.create-character-button {
  position: relative;
  background-image: url("./assets/sword.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  height: 25%;
  cursor: pointer;
  transition: width 0.1s, height 0.1s, font-size 0.1s;
  left: 10%;
}

.create-character-button {
  transform: rotate(180deg);
}

.random-character-button:hover,
.create-character-button:hover {
  width: 80%;
  height: 30%;
  font-size: 5rem;
}


.create-character-text {
  transform: rotate(180deg);
}

.print-button {
  position: absolute;
  bottom: 10%;
  right: 10%;
  height: 10%;
  width: 10%;
  cursor: pointer;
}

.hammer {
  background-image: url("./assets/generate-hammer.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30%;
  width: 16%;
  bottom: 8%;
  left: 23%;
  position: absolute;
  transition: transform 0.15s;
  z-index: -1;
}

.rotated {
  transform: rotate(69deg);
}

.create-character-name,
.create-player-name,
.race-select,
.class-select,
.background-select,
.alignment-select {
  width: 40%;
  height: 10%;
  font-size: 1.5em;
}

/********** GameshopFinder styling **********/

.map-background {
  height: 72%;
  width: 90%;
  background-image: url("./assets/group-paper-4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3%;
}

.merchant {
  height: 75%;
  width: 40%;
  background-image: url("./assets/merchant.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#map {
  height: 60vh;
  width: 60vh;
}

.zip-code {
  height: 9%;
  width: 20%;
  text-align: center;
  font-size: 2rem;
}

.hidden {
  display: none;
}
