body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.button-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  width: 50%;
  height: 20%;
  cursor: pointer;
  font-size: 3em;
  border: 2px solid white;
  outline: none;
}

#character-creator {
  background-color: rgb(0, 157, 255);
}

#gameshop-finder {
  background-color: rgb(255, 128, 73);
}

#group-finder {
  background-color: rgb(97, 240, 97);
}

#character-creator:hover {
  background-color: rgb(0, 94, 255);
}

#gameshop-finder:hover {
  background-color: rgb(255, 85, 73);
}

#group-finder:hover {
  background-color: rgb(13, 213, 13);
}

/********** GroupFinder styling **********/
#group-finder-modal-container {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#group-finder-modal {
  font-family: Arial;
  position: relative;
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#group-finder-modal > * {
  box-sizing: border-box;
}
#group-finder-modal-exit-button {
  position: absolute;
  top: 2%;
  right: 2%;
}
#group-finder-modal-header {
  background-color: rgb(35,18,11);
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#group-finder-modal-header > * {
  font-size: 1rem;
}
#group-finder-modal-header > button {
  width: 15%;
  height: 40%;
}
#group-finder-modal-body {
  width: 100%;
  height: 85%;
  display: flex;
  background-image: url("./assets/notice-board.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
#group-name-section {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.meetup-group {
  padding: 4%;
  width: 23%;
  height: 21%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("./assets/burnt-paper.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.meetup-group:hover {
  background-color: rgba(250,250,210,0.8);
  border-radius: 5px;
}
#group-info-section {
  box-sizing: border-box;
  margin-left: 6%;
  padding: 1%;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: black;
  color: white;
}
#group-info-section > * {
  margin-top: 3%;
  width: 90%;
}
#group-name {
  margin: 0;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************/

.character-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: black;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content button {
  margin: 5%;
}

.random-character:hover,
.create-character:hover {
  background-color: grey;
}

.cc-exit-button {
  position: absolute;
  color: white;
  top: 4%;
  right: 5%;
  cursor: pointer;
}

.print-button {
  position: absolute;
  bottom: 100px;
  right: 100px;
  background-color: rgb(65, 140, 254);
  height: 10%;
  width: 10%;
  cursor: pointer;
  font-size: 15px;
}

.print-button:hover {
  background-color: rgb(5, 74, 250);
}

.random-character-name,
.random-player-name {
  height: 7%;
  width: 50%;
  margin: 5vh;
  font-size: 2em;
}

.generate-created-button,
.generate-random-button {
  background-color: rgb(2, 211, 2);
  height: 12%;
  width: 50%;
  font-size: 2em;
  margin: 5vh;
  cursor: pointer;
}

.generate-created-button:hover,
.generate-random-button:hover {
  background-color: rgb(1, 140, 1);
}

.inputContainer {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.create-character-name,
.create-player-name,
.raceSelect,
.classSelect,
.backgroundSelect,
.alignmentSelect {
  width: 40%;
  height: 10%;
  margin: 1%;
  font-size: 1.5em;
}

/* Character Sheet Styling */
#created-character {
  width: 729px;
  height: 964px;
  background-color: white;
}

hr {
  border: 1px solid black;
  margin: 0;
}

.top-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.character-name-info {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  border-right: 2px solid black;
  margin-right: 5px;
}

.character-name-placeholder{
  position: relative;
  width: 85%;
  font-size: 12px;
  left: 10px;
}

.character-name {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  left: 10px;
}

.other-info {
  width: 53%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: wrap;
}

.info {
  position: relative;
  top: 12px;
  height: 30%;
  width: 50%;
}

.area {
  font-size: 15px;
}

.placeholder {
  font-size: 12px;
}

.bottom-box {
  margin-top: 2%;
  height: 78%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.stat-container {
  width: 30%;
  border-right: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.base-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: 12%;
}

.modifier {
  font-size: 35px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
  width: 60%;
  margin: 5px;
}
.stat {
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid black;
  width: 20%;
  text-align: center;
}

.other-stats {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ac-inti,
.speed-hitdice,
.current-hitpoints {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row;
  width: 80%;
  height: 10%;
  font-size: 10px;
}

.ac,
.inti,
.speed,
.hitdice,
.current-HP,
.total-HP {
  border: 1px solid black;
  border-radius: 20px;
  width: 40%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weapons-and-info {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
}

.character-info {
  width: 100%;
  height: 32%;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.traits,
.ideals,
.bonds,
.flaws {
  width: 100%;
  height: 22%;
  text-align: left;
  border-top: 1px solid black;
}

.weapons {
  width: 100%;
  height: 65%;
  border-left: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.weapon {
  width: 100%;
  height: 30%;
  border-top: 1px solid black;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
}

.weapon-name,
.weapon-dice,
.weapon-type {
  position: relative;
  top: 18px;
  width: 33.33%;
}

.weapon-prop {
  position: relative;
  top: 18px;
  width: 100%;
}

.one,
.two {
  border-bottom: 1px solid black;
}

.move-up {
  top: 0px;
}
